.chat_channels_container {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  margin: auto;
}
.chat_channels_sub_container {
  width: 90%;
  height: 85%;
  display: flex;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  max-width: 1620px;
}

.col1 {
  transition: all 0.5s ease-in-out;

  height: 100%;
  width: 25%;
  background-color: #3d3d3d;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  padding: 20px 8px;
  z-index: 10;
}

.col2 {
  transition: all 0.5s ease-in-out;
  height: 100%;
  width: 50%;
}

.selectedFriendChat {
  height: 100%;
  width: 100%;
}
.selectedChannelChat {
  height: 100%;
  width: 100%;
}

.col3 {
  width: 25%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  background-color: #3d3d3d;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.col1 .switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #27272b;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
}
.col1 .switcher button {
  color: white;
  background-color: transparent;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 900;
  z-index: 2;
}

.col1 .switcher .selectedColor {
  position: absolute;
  width: 100px;
  height: 65%;
  border-radius: 10px;
  z-index: 1;

  background-color: #1ce14e;
  transition: all 0.3s;
}
.toleft {
  transform: translateX(-5%) !important;
}
.toright {
  transform: translateX(265%) !important;
}

.chat_channel_details {
  position: absolute;

  padding: 10px;
  height: 60px;
  width: fit-content;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
  display: none;
}

.dots_hide {
  font-size: 30px;
  transition: 0.3s;
  cursor: pointer;
}
.dots_hide:active {
  scale: 0.9;
}
.dots_hide:hover {
  color: #71ff95;
}

.show_col3 {
  transform: translateX(0) !important;
  width: 40%;
}

.col2 .svgHolder {
  padding: 50px 0;
  background: rgba(255, 255, 255, 0.17);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.col2 .svgHolder .svgImage {
  flex: 1;
  transition: 0.3s;
  animation: updown 2s ease-in-out infinite;
}
@keyframes updown {
  50% {
    transform: translateY(-10px);
  }
}

.friendsList {
  width: 100%;
  height: 90%;
}

@media (max-width: 1440px) {
  .col1 .switcher button {
    font-size: 18px;
  }
  .selectedColor {
    width: 90px !important;
  }
  .toright {
    transform: translateX(150%) !important;
  }
  .chat_channels_sub_container {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .selectedColor {
    width: 82px !important;
  }
  .blurCols {
    filter: blur(5px);
  }
  .chat_channel_details {
    display: flex;
  }
  .col1 .switcher button {
    font-size: 16px !important;
  }
  .col1 {
    width: 30%;
  }
  .col1 .switcher button {
    font-size: 12px;
  }
  .switcher {
    padding: 15px !important;
  }
  .chat_channels_sub_container {
    border-radius: 15px 15px 0 15px;
  }
  .col2 {
    flex: 1;
  }
  .col3 {
    transform: translateX(100%);
  }
}

@media (max-width: 768px) {
  .toright {
    transform: translateX(109%) !important;
  }
  .col1 {
    width: 35%;
  }
  .col1 .switcher button {
    font-size: 16px;
  }
  .chat_channels_sub_container {
    width: 100%;
  }
  .show_col3 {
    width: 65%;
  }
}
@media (max-width: 425px) {
  .toright {
    transform: translateX(220%) !important;
  }
  .svgHolder * {
    display: none;
  }
  .col1 {
    position: absolute;
    flex: 1 !important;
    width: 100% !important;
  }
  .col2 {
    position: absolute;
    transform: translateX(100%);
  }
  .col3 {
    border-radius: inherit;
    width: 100% !important;
  }
  .showCol2 {
    width: 100%;
    transform: translateX(0);
  }

  .hideCol1 {
    transform: translateX(-100%);
  }
}
@media (max-width: 375px) {
  .toright {
    transform: translateX(160%) !important;
  }
}
@media (max-width: 375px) {
  .toright {
    transform: translateX(125%) !important;
  }
}
