* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color : white;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #27272B ;
}

.Nav-children-container {
  display: flex;
}

nav {
    background-color: #2D2D31;
}

.upperNav-children-container {
    flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}