.profile_container {
  /* padding: 5% 0; */
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.user_account {
  position: relative;
  color: white;
  max-width: 1024px;
  border-radius: 15px;
  width: 80%;
  height: 30%;
  background: #2d2d31;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  background-image: linear-gradient(
      77deg,
      rgba(0, 0, 0, 1) 30%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../../public/Xarben_bear.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.profile_photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #1ce14e;
  animation: heartbeat 3s infinite 5s ease-in-out;
}

@keyframes heartbeat {
  0% {
    box-shadow: 0 0 10px #1ce14e;
  }
  50% {
    box-shadow: 0 0 25px 1px #1ce14e;
  }
  100% {
    box-shadow: 0 0 10px #1ce14e;
  }
}

.profile_data {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile_data h1 {
  color: white;
  margin-right: auto;
}

.profile_data h4,
.profile_data h2 {
  color: #919191;
}

.edit_label:hover span {
  opacity: 1;
  transform: translate(0);
}

.edit_label {
  color: white;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 3%;
  right: 3%;
}

.edit_label svg {
  margin-left: 10px;
  color: #1ce14e;
  filter: drop-shadow(0 0 5px #1ce14e);
}

.edit_label span {
  text-shadow: 0 0 10px black;
  transition: all 0.5s;
  opacity: 0;
  transform: translate(50%, -50%);
}

.profile_user_lvl span {
  color: white;
}

.profile_progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  position: absolute;
  bottom: 8%;
  right: 3%;
}

.profile_uid {
  text-align: right;
  width: 50%;
  cursor: pointer;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}

.profile_uid svg {
  margin-left: 10px;
}
.profile_uid svg:hover {
  filter: drop-shadow(0 0 5px #1ce14e);
  color: #1ce14e;
}

.progress {
  border-radius: 10px;
  position: relative;
  width: 50%;
  height: 16px;
  background: #868686;
}
.progress::after {
  border-radius: 10px;
  content: "";
  position: absolute;
  height: 100%;
  width: 20%;
  left: 0;
  top: 0;
  background: #1ce14e;
  box-shadow: 0 0 10px #1ce14e;
}

.profile_details {
  max-width: 1024px;
  width: 80%;
  height: 60%;
}

@media (max-width: 768px) {
  .user_account {
    width: 100%;
    padding: 0 10px;
  }

  .profile_details {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .user_account {
    height: 25%;
  }
  .profile_photo {
    width: 100px;
    height: 100px;
  }
  .profile_data {
    width: 50%;
    height: 50%;
  }
  .profile_data * {
    font-size: 1rem;
    text-shadow: 0 0 10px black;
  }
  .profile_progress {
    width: 90%;
  }
}
@media (max-width: 375px) {
  .profile_data {
    width: 50%;
    height: 45%;
  }
  .profile_data * {
    font-size: 0.9rem;
  }
  .profile_progress {
    width: 90%;
    font-size: 0.8rem;
  }
}
