/* [project]/app/settings/popupChooseImage/popupChooseImage.css [app-ssr] (css) */
.renderedArticles * {
  color: white;
}
.renderedArticles {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}
.renderedArticles::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.048);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(20px);
}
.renderedArticlesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.048);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
}
.renderedArticlesContainer .item {
  width: 200px;
  text-align: center;
  background: rgba(255, 255, 255, 0.048);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.143);
  border-radius: 10px;
  padding: 10px;
}
.renderedArticlesContainer .item .name {
  padding: 10px;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 900;
  color: rgb(216, 255, 201);
}
.renderedArticlesContainer .item .description {
  padding: 10px;
  font-weight: 500;
  text-shadow: rgba(225, 236, 27, 0.74) 1px 0 5px;
  line-height: 1.5;
}
.renderedArticlesContainer .item .selectBtn {
  padding: 10px 10px;
  font-size: 20px;
  background-color: #2d2d31;
  border-radius: 10px;
  border: none;
  outline: none;
  text-shadow: rgb(255, 255, 255) 1px 0 5px;
  cursor: pointer;
  transition: 0.3s;
}
.renderedArticlesContainer .item .selectBtn:hover {
  scale: 1.1;
  background-color: #343439;
}
.renderedArticlesContainer .item .selectBtn:active {
  scale: 0.9;
}
.renderedArticles .blobs .blob {
  position: absolute;
  top: 20%;
  animation: showwaves 2s ease-in-out infinite;
  z-index: -2;
}
.renderedArticles .blobs .blob1 {
  top: 18%;
  left: 45%;
}
.renderedArticles .blobs .blob2 {
  top: 25%;
  left: 32%;
}
.renderedArticles .blobs .blob3 {
  top: 40%;
  left: 28%;
}
.renderedArticles .blobs .blob4 {
  top: 55%;
  left: 25%;
}
.renderedArticles .blobs .blob5 {
  top: 70%;
  left: 25%;
}
.renderedArticles .blobs .blob6 {
  top: 25%;
  left: 60%;
}
.renderedArticles .blobs .blob7 {
  top: 40%;
  left: 65%;
}
.renderedArticles .blobs .blob8 {
  top: 55%;
  left: 66%;
}
.renderedArticles .blobs .blob9 {
  top: 70%;
  left: 65%;
}
@keyframes showwaves {
  50% {
    transform: translateY(-10px) scale(1.1);
  }
}
.renderedArticles .cancel {
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  display: block;
  transition: 0.3s;
  z-index: 1;
}
.renderedArticles .cancel:active {
  scale: 0.9;
}
.renderedArticles .cancel .icon {
  font-size: 60px;
  transition: 0.3s;
}
.renderedArticles .cancel:hover .icon {
  fill: #1dcc4a;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1dcc4a;
}
@media (max-width: 1024px) {
  .renderedArticles {
    justify-content: flex-start;
  }
  .renderedArticlesContainer {
    width: 80%;
    height: 50%;
  }
  .renderedArticles {
    justify-content: flex-start;
  }
  .renderedArticlesContainer {
    width: 80%;
    height: 100%;
  }
}
@media (min-width: 1441px) {
  .renderedArticlesContainer .item {
    width: 250px;
    text-align: center;
  }
  .renderedArticlesContainer .item .picture {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 425px) {
  .renderedArticles .blobs .blob {
    width: 50px;
    height: 50px;
  }
}
/*# sourceMappingURL=app_settings_popupChooseImage_popupChooseImage_31ffea.css.map*/