.sign_in_container {
  width: 100%;
  height: 55%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.from_errors {
  color: var(--main-red);

  font-weight: 900;
  align-self: flex-start;
  animation: shake 0.5s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.sign_in_container h1 {
  font-size: 25px;
  font-weight: 300;
}

.sign_in_ships {
  transition: all 0.4s;
  border-radius: 5px;
  padding: 10px;
  width: 95%;
  height: 16%;
  text-align: left;

  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: #27272a;
  outline: none;
  border: none;
  overflow: hidden;
}
.hide_pass {
  height: 0;
  width: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
}
.sign_in_ships::placeholder {
  text-transform: uppercase;
  color: white;
}
.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1ce14e;
  font-size: 20px;
}
.lets_not_play {
  background-color: var(--main-red);
}
.btn svg {
  font-size: 30px;
  animation: rightSignal 3s ease-in-out 2s infinite alternate;
}
.btn svg:hover {
  animation-play-state: paused;
}

.outher_methods {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.other_login {
  transition: all 0.4s;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: capitalize;
  background: #27272a;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.other_login:active,
button.sign_in_ships:active {
  scale: 0.95;
}

@keyframes rightSignal {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}

@media (max-width: 425px) {
  .outher_methods {
    flex-direction: column;
    justify-content: space-between;
    height: 25%;
  }
  .other_login {
    height: 45%;
  }
}

/* .outher_methods */
